.star-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .star-rating button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
  }
  
  .star-rating .on .star {
    color: gold;
  }
  
  .star-rating .off .star {
    color: grey;
  }
  
  .star-rating .star {
    font-size: 2rem;
    transition: color 0.9s;
  }
  
  .rating-value {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  